.header-page {
  width: 100%;
  height: 10%;
  text-align: center;

}


.custom-header {
  margin-top: 1%;
  font-size: 12px; /* Define o tamanho da fonte */
  display: inline-block; /* Garante que a borda não ocupe toda a largura da div */
  padding: 5px; /* Opcional: Adiciona um pouco de espaço interno ao redor do texto */
}


.container {
  height: 100%;
  width: 100%;
  justify-content: space-between; /* Isso distribuirá o espaço entre as divs */

}


.mat-main-content {
  background: rgba(255, 254, 254, 0.86);
  width: 100%;
  height: 90%;
  box-sizing: border-box; /* Garante que a largura inclua padding e borda */

}

.mat-add-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  border: 2px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh; /* Ajuste a altura conforme necessário para centralizar verticalmente */
  // fortunato
}

.mat-form-display {
  width: 80%;
  margin-left: 15%;

  .mat-add-client, .mat-add-earnings {
    margin-top: 6%;
    width: 48%; /* 48% to allow for some spacing between the two */
    display: inline-block;
    vertical-align: top;
    margin-right: 2%; /* Adjust as needed for spacing */
  }
}

.mat-add-header {
  text-align: center; /* Alinha o texto ao centro */
  margin-bottom: 20px; /* Adiciona espaço abaixo do cabeçalho */
}

.mat-add-header h3 {
  font-size: 24px; /* Define o tamanho da fonte do cabeçalho */
  font-weight: bold; /* Define a espessura da fonte como negrito, se desejar */
  color: #333; /* Define a cor do texto, ajuste conforme necessário */
}

form {
  width: 90%;

  .example-full-width {
    width: 100%; /* Garante que os campos de formulário ocupem toda a largura disponível */
  }
}

.example-section {
  display: flex;
  align-items: center;
}

.mat-add-actions {
  width: 50%;
  margin-left: 25%;
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Espaço de separação entre os botões */
  button {
    width: 20%;
    flex: 1;
  }
}
