
.container {
  height: 100%;
  width: 100%;
  justify-content: space-between; /* Isso distribuirá o espaço entre as divs */

}

.header-page {
  width: 100%;
  height: 10%;
  text-align: center;
  background: rgba(239, 234, 234, 0.86);
}

.mat-section-actions {
  width: 100%;
  height: 5%;
  display: flex; /* Torna o contêiner flexível */
  min-width: 0;
}

.mat-section-action {
  flex: 1; /* Distribui o espaço disponível igualmente entre as subdivisões */
  /* Adicione outros estilos conforme necessário */
  width: calc(10% - 20px); /* Define a largura de cada subdivisão (10% da largura total - 20px de separação) */
  margin-right: 10px; /* Adiciona uma margem direita de 10px entre as subdivisões */


  button {
    top: 10%;
    width: 100%;
    margin-right: 2px;
    font-size: 12px;
    height: 80%;
  }

  .date-range-field {
    width: 100%;
    margin-right: 2px;
    font-size: 12px;
    height: 100%;
    margin-left: 2px;

    .date-range-input-container {
      height: 20px;
      width: 100%;
      display: flex;
      align-items: center;
    }

  }
}

.mat-main-content {
  background: gray;
  width: 100%;
  height: 84%;
  box-sizing: border-box; /* Garante que a largura inclua padding e borda */

  table {
    width: 100%;

    td {
      font-size: 12px;
    }

    th {
      position: sticky;
      top: 0;
      color: black;
      background-color: #fff; /* Cor de fundo desejada */
      z-index: 1; /* Garante que o cabeçalho fique acima do conteúdo da tabela */
    }

    mat-icon {
      cursor: pointer;
    }
  }

  button {
    width: 15%;
    margin-right: 2px;
    margin-left: 80%;
    top: 68%;
    height: 80%;

    mat-icon {
      width: 30%;
    }
  }

  .date-range-field {
    background: green;
  }

}

.mat-table-content {
  overflow: auto;
  max-height: 100%; /* Defina a altura máxima desejada */
}

.mat-table-bolded-id {
  color: black;
  font-weight: bold;
}

mat-form-field {
  margin-right: 12px;
}


