<div class="main-content-component">
  <div class="mat-add-header">
    <h3>
      <mat-label>Insert Manager</mat-label>
    </h3>
  </div>

  <div class="mat-add-content">
    <form (ngSubmit)="createManager()" [formGroup]="profileForm">
      <br>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Ex. Carlos Alberto" value="">
      </mat-form-field>

      <br>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Phone Number</mat-label>
        <input formControlName="phoneNumber" matInput placeholder="+258 821231234" value="">
      </mat-form-field>

      <br>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="vehicle Model:" value="">
      </mat-form-field>

      <div class="button-group">
        <button (click)="cancelOperation()" color="warn" mat-button type="cancel">Cancel</button>
        <button color="primary" mat-button type="submit">Save</button>

      </div>
    </form>
  </div>
</div>
